@model SQEstimationAndBillingSystem.Models.RecaptionalModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<link href="~/Content/slick.grid.css" rel="stylesheet" />
<link href="~/Content/jquery-ui-1.12.1/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/slick.pager.css" rel="stylesheet" />
<style>
    .cell-title {
        font-weight: bold;
    }

    .cell-effort-driven {
        text-align: center;
    }

    .cell-selection {
        border-right-color: silver;
        border-right-style: solid;
        background: #f5f5f5;
        color: gray;
        text-align: right;
        font-size: 10px;
    }
</style>

<section class="content-header">
    <h1>
        Recaputulation
        <small>List</small>
    </h1>
</section>
<div class="row">
    <div class="col-xs-12" style="text-align:right; margin:5px">

    </div>

</div>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body" id="divRecaptional" style="margin-left:100px; margin-right:100px; margin-top:30px">
                <table cellspacing="0" border="0" style="width:100%">
                    <colgroup span="5" width="67"></colgroup>
                    <colgroup width="65"></colgroup>
                    <colgroup width="56"></colgroup>
                    <colgroup width="114"></colgroup>

                    <tr>
                        <td colspan=8 height="17" align="center" valign=middle><b><u><font size=3>RECAPUTULATION SHEET</font></u></b></td>
                    </tr>
                    <tr>
                        <td height="17" align="center" valign=middle><b><u><br></u></b></td>
                        <td align="center" valign=middle><b><u><br></u></b></td>
                        <td align="center" valign=middle><b><u><br></u></b></td>
                        <td align="center" valign=middle><b><u><br></u></b></td>
                        <td align="center" valign=middle><b><u><br></u></b></td>
                        <td align="center" valign=middle><b><u><br></u></b></td>
                        <td align="center" valign=middle><b><u><br></u></b></td>
                        <td align="center" valign=middle><b><u><br></u></b></td>
                    </tr>
                    <tr>
                        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000" height="17" align="left"><b>Sub Estimate </b></td>
                        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000" align="left"><b><br></b></td>
                        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000" align="left"><br></td>
                        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000" align="left"><b><br></b></td>
                        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000" align="left"><b><br></b></td>
                        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000" align="left"><b><br></b></td>
                        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left"><br></td>
                        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" sdnum="1033;0;0.00"><b>Cost </b></td>
                    </tr>
                    <tr>
                        <td height="17" align="left"><br></td>
                        <td align="left"><br></td>
                        <td align="left"><br></td>
                        <td align="left"><br></td>
                        <td align="left"><br></td>
                        <td align="left"><br></td>
                        <td align="left"><br></td>
                        <td align="left" sdnum="1033;0;0.00"><br></td>
                    </tr>
                    <tr>
                        <td height="24" align="left"><b>Estimate : Work Portion</b></td>
                        <td align="left"><b><br></b></td>
                        <td align="left"><br></td>
                        <td align="left"><br></td>
                        <td align="left"><br></td>
                        <td align="center">  =</td>
                        <td align="center">Rs.</td>
                        <td align="right"><b>@Model.WorkPortion</b></td>
                    </tr>
                    <tr>
                        <td style="border-top: 1px solid #000000" height="24" align="left"><b><br></b></td>
                        <td style="border-top: 1px solid #000000" align="left"><b><br></b></td>
                        <td style="border-top: 1px solid #000000" align="left"><br></td>
                        <td style="border-top: 1px solid #000000" align="left"><b><font size=3>Total</font></b></td>
                        <td style="border-top: 1px solid #000000" align="center"><b><font size=3>A</font></b></td>
                        <td style="border-top: 1px solid #000000" align="center">  =</td>
                        <td style="border-top: 1px solid #000000" align="center">Rs.</td>
                        <td style="border-top: 1px solid #000000" align="right"><b><div id="divTotalWorkPortion">@Model.Total</div></b></td>
                    </tr>
                    <tr>
                        <td height="24" align="left"><b><br></b></td>
                        <td align="left"><b><br></b></td>
                        <td align="left"><br></td>
                        <td align="left"><br></td>
                        <td align="left"><br></td>
                        <td align="center"><br></td>
                        <td align="center"><br></td>
                        <td align="left" sdnum="1033;0;0.00"><b><br></b></td>
                    </tr>
                    <tr>
                        <td height="24" align="left"><b><br></b></td>
                        <td align="left"><br></td>
                        <td align="left" colspan="2"><b>Deduct For Royalty</b></td>
                        @*<td align="left"><br></td>*@
                        <td align="left"><br></td>
                        <td align="center">  =</td>
                        <td align="center">Rs.</td>
                        <td align="right"><b><div id="divDeductForRoyalty">@Model.DeductForRoyalty</div></b></td>
                    </tr>
                    <tr>
                        <td height="24" align="left"><b><br></b></td>
                        <td align="left"><b><br></b></td>
                        <td align="left" colspan="3"><b>Deduct For Testing Charges</b></td>
                        @*<td align="left"><br></td>*@
                        @*<td align="left"><br></td>*@
                        <td align="center">  =</td>
                        <td align="center">Rs.</td>
                        <td align="right">
                            <b>
                                <div id="divDeductForTestingCharges">
                                    @Model.DeductForTestingCharges
                                </div>
                            </b>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-bottom: 1px solid #000000" height="24" align="left"><br></td>
                        <td style="border-bottom: 1px solid #000000" align="left"><br></td>
                        <td style="border-bottom: 1px solid #000000" align="left"><br></td>
                        <td style="border-bottom: 1px solid #000000" align="left"><br></td>
                        <td style="border-bottom: 1px solid #000000" align="left"><br></td>
                        <td style="border-bottom: 1px solid #000000" align="left"><br></td>
                        <td style="border-bottom: 1px solid #000000" align="center"><br></td>
                        <td style="border-bottom: 1px solid #000000" align="left" sdnum="1033;0;0.00"><br></td>
                    </tr>
                    <tr>
                        <td height="24" align="left"><br></td>
                        <td align="left"><br></td>
                        <td align="left" colspan="3"><font size=3>Total Cost of Work Portion</font></td>
                        @*<td align="left"><br></td>*@
                        @*<td align="left"><br></td>*@
                        <td align="center">  =</td>
                        <td align="center">Rs.</td>
                        <td align="right"><div id="divTotalCostofWorkPortion"><b>@Model.TotalCostofWorkPortion</b></div></td>
                    </tr>
                    <tr>
                        <td height="24" align="left"><br></td>
                        <td align="left"><br></td>
                        <td align="left"><br></td>
                        <td align="left"><br></td>
                        <td align="left"><br></td>
                        <td align="left"><br></td>
                        <td align="left"><br></td>
                        <td align="left"><br></td>
                    </tr>
                    <tr>
                        <td height="24" align="left"><br></td>
                        <td align="left" colspan="3"><b>ADD <span><input id="txtGSTPer" class="allow_decimalPercentage" max="100" style="width: 50px;" type="text" value="@Model.GST" /></span> % For GST</b></td>
                        @*<td align="left"><b><br></b></td>*@
                        @*<td align="left"><br></td>*@
                        <td align="center" valign=middle><b>B</b></td>
                        <td align="center">  =</td>
                        <td align="center">Rs.</td>
                        <td align="right"><b><div id="divGSTValue">@Model.GSTAmt</div></b></td>
                    </tr>
                    <tr>
                        <td height="24" align="left"><br></td>
                        <td align="left" colspan="3"><b>Labour Insurance  <span><input id="txtLabourInsurance" class="allow_decimalPercentage" max="100" style="width: 50px;" type="text" value="@Model.LabourInsurancePer" /></span> % </b></td>
                        @*<td align="left"><br></td>*@
                        @*<td align="left"><br></td>*@
                        <td align="center" valign=middle><b>C</b></td>
                        <td align="center">  =</td>
                        <td align="center">Rs.</td>
                        <td align="right"><b><div id="divLabourInsurance">@Model.LabourInsuranceAmt</div></b></td>
                    </tr>
                    <tr>
                        <td height="24" align="left"><br></td>
                        <td align="left" colspan="3"><b>Add <span><input id="txtContingencyChargesPer" class="allow_decimalPercentage" max="100" style="width: 50px;" type="text" value="@Model.ContingencyChargesPer" /></span> % Contingency Charges </b></td>
                        @*<td align="left"><br></td>*@
                        @*<td align="left"><br></td>*@
                        <td align="center" valign=middle><b>D</b></td>
                        <td align="center">  =</td>
                        <td align="center">Rs.</td>
                        <td align="right"><b><div id="divContingencyChargesPer">@Model.ContigencyAmt</div></b></td>
                    </tr>
                    <tr>
                        <td height="24" align="left"><br></td>
                        <td align="left" colspan="3"><b>Add <span><input id="txtAdministrativeChargesPer" class="allow_decimalPercentage" max="100" style="width: 50px;" type="text" value="@Model.AdministrativeChargesPer" /></span> % Administrative Charges </b></td>
                        @*<td align="left"><br></td>*@
                        @*<td align="left"><br></td>*@
                        <td align="center" valign=middle><b>E</b></td>
                        <td align="center">  =</td>
                        <td align="center">Rs.</td>
                        <td align="right"><b><div id="divAdministrativeChargesPer">@Model.AdministrativeAmt</div></b></td>
                    </tr>
                    <tr>
                        <td height="24" align="left"><br></td>
                        <td align="left"><b><br></b></td>
                        <td align="left"><br></td>
                        <td align="left"><br></td>
                        <td align="left"><br></td>
                        <td align="center"><br></td>
                        <td align="center"><br></td>
                        <td align="left" sdnum="1033;0;0.00"><b><br></b></td>
                    </tr>
                    <tr>
                        <td colspan=5 height="24" align="center"><b>Total Gross Amount =   A + B + C + D + E</b></td>
                        <td align="center">  =</td>
                        <td align="center">Rs.</td>
                        <td align="right"><b><font size=3><div id="divTotalGrossAmount">@Model.TotalGrossAmount</div></font></b></td>
                    </tr>
                    <tr>
                        <td height="24" align="left"><br></td>
                        <td align="left"><br></td>
                        <td align="left"><br></td>
                        <td align="left"><br></td>
                        <td align="left"><br></td>
                        <td align="left"><br></td>
                        <td align="left"><br></td>
                        <td align="left" sdnum="1033;0;0.00"><br></td>
                    </tr>
                    <tr>
                        <td height="24" align="left"><br></td>
                        <td align="left"><br></td>
                        <td align="left"><br></td>
                        <td align="left"><br></td>
                        <td align="left"><b><font size=3>Say </font></b></td>
                        <td align="center">=</td>
                        <td align="center"><b>Rs.</b></td>
                        <td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" align="right"><b><font size=3><div id="divTotalGrossAmountRound">@Model.Say</div></font></b></td>
                    </tr>
                    <tr>
                        <td height="17" align="left"><br></td>
                        <td align="left"><br></td>
                        <td align="left"><br></td>
                        <td align="left"><br></td>
                        <td align="left"><br></td>
                        <td align="left"><br></td>
                        <td align="left"><br></td>
                        <td align="left" sdnum="1033;0;0.00"><br></td>
                    </tr>
                    <tr>
                        <td height="17" align="left"><br></td>
                        <td align="left"><br></td>
                        <td align="left"><br></td>
                        <td align="left"><br></td>
                        <td align="left"><br></td>
                        <td align="left"><br></td>
                        <td align="left"><br></td>
                        <td align="left" sdnum="1033;0;0.00"><br></td>
                    </tr>

                </table>

                <input style="float:right;" type="button" id="btnRecaptionalSubmit" value="Save" name="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
</div>


<script>


    $(document).ready(function () {
        MakeReadOnlyIfNotLatestDSR("divRecaptional");

        var pastValue, pastSelectionStart, pastSelectionEnd;

        $("input").on("keydown", function () {
            pastValue = this.value;
            pastSelectionStart = this.selectionStart;
            pastSelectionEnd = this.selectionEnd;

        }).on("input propertychange", function () {
            var regex = /^(100(\.0{0,2})?|(\d|[1-9]\d)(\.\d{0,2})?)$/;

            if (this.value.length > 0 && !regex.test(this.value)) {
                this.value = pastValue;
                this.selectionStart = pastSelectionStart;
                this.selectionEnd = pastSelectionEnd;
            }
            if (this.id == "txtGSTPer") {
                var total = parseFloat($("#divTotalCostofWorkPortion").text()).toFixed(2);
                var GSTAmt = (((this.value) * total) / 100).toFixed(2);
                $("#divGSTValue").text(GSTAmt);
                CalculateGrossTotal();
            }
            if (this.id == "txtLabourInsurance") {
                var total = parseFloat($("#divTotalCostofWorkPortion").text()).toFixed(2);
                var GSTAmt = (((this.value) * total) / 100).toFixed(2);
                $("#divLabourInsurance").text(GSTAmt);
                CalculateGrossTotal();
            }
            if (this.id == "txtContingencyChargesPer") {
                var total = parseFloat($("#divTotalCostofWorkPortion").text()).toFixed(2);
                var GSTAmt = (((this.value) * total) / 100).toFixed(2);
                $("#divContingencyChargesPer").text(GSTAmt);
                CalculateGrossTotal();
            }
            if (this.id == "txtAdministrativeChargesPer") {
                var total = parseFloat($("#divTotalCostofWorkPortion").text()).toFixed(2);
                var GSTAmt = (((this.value) * total) / 100).toFixed(2);
                $("#divAdministrativeChargesPer").text(GSTAmt);
                CalculateGrossTotal();
            }

        });


        function CalculateGrossTotal() {
            var total = parseFloat($("#divTotalWorkPortion").text()) + parseFloat($("#divGSTValue").text()) + parseFloat($("#divLabourInsurance").text()) + parseFloat($("#divContingencyChargesPer").text())+parseFloat($("#divAdministrativeChargesPer").text());
            $("#divTotalGrossAmount").text(total.toFixed(2));
            $("#divTotalGrossAmountRound").text(Math.round(total.toFixed(2)));
        }

        $("#btnRecaptionalSubmit").click(function () {

            var model =  {
                WorkPortion: $('#divTotalWorkPortion').text(),
                Total: $('#divTotalWorkPortion').text(),
                        DeductForRoyalty: $('#divDeductForRoyalty').text(),
                            DeductForTestingCharges: $('#divDeductForTestingCharges').text(),
                                TotalCostofWorkPortion: $('#divDeductForRoyalty').text(),
                                    GST: $('#txtGSTPer').val(),
                                        LabourInsurancePer: $('#txtLabourInsurance').val(),
                                            ContingencyChargesPer: $('#txtContingencyChargesPer').val(),
                                                AdministrativeChargesPer: $('#txtAdministrativeChargesPer').val(),
                                                    GSTAmt: $('#divGSTValue').text(),
                                                        LabourInsuranceAmt: $('#divLabourInsurance').text(),
                                                            ContigencyAmt: $('#divContingencyChargesPer').text(),
                                                                AdministrativeAmt: $('#divAdministrativeChargesPer').text(),
                                                                    TotalGrossAmount: $('#divTotalGrossAmount').text(),
                                                                        Say: $('#divTotalGrossAmountRound').text(),
            };

            $.ajax({
                url: '@Url.Action("AddEditRecaptional", "RecaptionalSheet")',
                method: "Post",
                data: JSON.stringify(model),
                contentType: "application/json",
                dataType: "json",
                success: function (response) {
                    if (response == "success") {
                        window.location = '@Url.Action("Index", "RecaptionalSheet")';
                    }
                },
                error: function (jqXHR, textStatus, ex) {
                    //alert(textStatus + "," + ex + "," + jqXHR.responseText);
                }
            });

        });
    });



</script>
