
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("AddEditRateAnalysis", "RateAnalysis", FormMethod.Post, new { id = "frmRateAnalysis" }))
{
    <input type="hidden" id="id" name="id" value="0">
    <input type="hidden" id="DSRDetailsId" name="DSRDetailsId" value="0">
    <div class="panel panel-default" style="padding-left: 1%">
        <div style="color: #286090;padding-left: 0.3%;">
            <h4> <strong>Add New Rate Analysis</strong> </h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-3">
                    <label class="control-label">Item Description</label>
                    <span style="color:red">*</span>
                    <input type="text" id="txtItemDescription" name="ItemDescription" maxlength="1500" class="form-control" />
                </div>
                @*<div class="col-lg-3">
                <label class="control-label">Sub Material</label>
                <span style="color:red"></span>
                <select class="form-control" id="ddlSubMaterial" style="padding: 0; padding-left:2px"></select>
            </div>*@
                <div class="col-lg-3">
                    <label class="control-label">SSR Item No</label>
                    <span style="color:red">*</span>
                    <input type="text" id="txtSSRItemNo" name="SSRItemNo" maxlength="50" class="form-control" readonly />
                </div>
                <div class="col-lg-3">
                    <label class="control-label">Unit</label>
                    <span style="color:red">*</span>
                    <input type="text" id="txtUnit" name="Unit" class="form-control" maxlength="50" readonly />
                </div>
                <div class="col-lg-3">
                    <label class="control-label">Completed Rate For SSR</label>
                    <span style="color:red">*</span>
                    <input type="text" id="txtCompletedRateForSSR" name="CompletedRateForSSR" class="form-control" maxlength="50" onchange="CalculateTotal()" readonly />
                    @*<input type="text" id="txtTotalLeadCharges" name="TotalLeadChargesAtQuarry" class="form-control" />*@
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <label class="control-label">Contractors Profit %</label>
                    <span style="color:red">*</span>
                    <input type="text" id="txtContractorsProfitPer" name="ContractorsProfitPer" maxlength="50" class="form-control allow_decimal"  />
                </div>
                <div class="col-lg-3">
                    <label class="control-label">Deduct For Contractors Profit</label>
                    <span style="color:red">*</span>
                    <input type="text" id="txtDeductForContractorsProfit" name="DeductForContractorsProfit" maxlength="20" class="form-control" readonly />
                </div>

                <div class="col-lg-3">
                    <label class="control-label">Total</label>
                    <span style="color:red">*</span>
                    <input type="text" id="txtTotal" name="Total" class="form-control" readonly />
                </div>
                <div class="col-lg-3">
                    <label class="control-label">Material</label>
                    <span style="color:red">*</span>
                    <input type="text" id="txtMaterial" name="Material" maxlength="1500" class="form-control" />
                </div>

            </div>
            <div class="row">
                <div class="col-lg-3">
                    <label class="control-label">Basic Lead</label>
                    <span style="color:red">*</span>
                    <input type="text" id="txtBasicLead" name="BasicLead" class="form-control" readonly />
                    @*<input type="text" id="txtTotalLeadCharges" name="TotalLeadChargesAtQuarry" class="form-control" />*@
                </div>
                <div class="col-lg-3">
                    <label class="control-label">Consumption</label>
                    <span style="color:red">*</span>
                    <input type="text" id="txtConsumption" name="Consumption" maxlength="20" class="form-control allow_decimal" onchange="CalculateLeadCharge()" />
                </div>
                @*<div class="col-lg-3">
            <label class="control-label">Sub Material</label>
            <span style="color:red"></span>
            <select class="form-control" id="ddlSubMaterial" style="padding: 0; padding-left:2px"></select>
        </div>*@
                <div class="col-lg-3">
                    <label class="control-label">Lead Charge</label>
                    <span style="color:red">*</span>
                    <input type="text" id="txtLeadCharge" name="LeadCharge" class="form-control" readonly />
                </div>
                <div class="col-lg-3">
                    <label class="control-label">Total Lead Charges</label>
                    <span style="color:red">*</span>
                    <input type="text" id="txtTotalLeadCharges" name="TotalLeadCharges" maxlength="50" class="form-control allow_decimal"  />
                </div>
                
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <label class="control-label">Tribal Area %</label>
                    <span style="color:red">*</span>
                    <input type="text" id="txtAddForTribalAreaPer" name="AddForTribalAreaPer" maxlength="50" class="form-control allow_decimal" />
                </div>
                <div class="col-lg-3">
                    <label class="control-label">Add For Tribal Area</label>
                    <span style="color:red">*</span>
                    <input type="text" id="txtAddForTribalArea" name="AddForTribalArea" maxlength="50" class="form-control" readonly />
                </div>

                <div class="col-lg-3">
                    <label class="control-label">Final Completed Rate</label>
                    <span style="color:red">*</span>
                    <input type="text" id="txtFinalCompletedRate" name="FinalCompletedRate" maxlength="50" class="form-control" readonly />
                </div>
                <div class="col-lg-3">

                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">

                </div>
                <div class="col-lg-3">

                </div>
                <div class="col-lg-3" style="float: right !important;">
                    <label class="control-label" style="color: transparent;"> Submit</label>
                    <span style="color:transparent">*</span>
                    <input type="submit" value="Submit" class="form-control btn btn-default mybtn" onclick="return ValidateFields()">
                </div>
                <div class="col-lg-3" style="float: right !important;">
                    <label class="control-label" style="color: transparent;"> Cancel</label>
                    <span style="color:transparent">*</span>
                    <input type="button" value="Cancel" class="form-control btn btn-default mybtn" onclick="return ClearForm()">
                </div>
            </div>
        </div>
    </div>
}
<div class="panel panel-default" style="padding-left: 1%">
    <div class="card">
        <div class="card-body" style="padding:0.25em !important;">
            <!-- style="padding:0.25em !important;" -->
            <div id="tableDiv" class="dt-bootstrap4 table-responsive">
                <table id="tblRateAnalysis" class="table table-striped table-bordered" style="width:100% !important;" data-request-url="@Url.Action("GetAllRateAnalysis", "RateAnalysis")">
                    <thead class="thead-light" style="border-top-left-radius: 15px;border-top-right-radius: 15px !important;background-color: #e9ecef !important;">
                        <tr style="line-height:15px;" class="font-weight-bold">
                            <th class="no-sort">Action</th>
                            <th class="no-sort">Sr No</th>
                            <th class="no-sort">Item Description</th>
                            <th class="no-sort">SSR Item No</th>
                            <th class="no-sort">Unit</th>
                            <th class="no-sort">Completed Rate For SSR</th>
                            <th class="no-sort">Deduct For Contractors Profit</th>
                            <th class="no-sort">Total</th>
                            <th class="no-sort">Material</th>

                            <th class="no-sort">Basic Lead</th>
                            <th class="no-sort">Consumption</th>
                            <th class="no-sort">Lead Charge</th>
                            <th class="no-sort">Total Lead Charges</th>
                            <th class="no-sort">Add For Tribal Area</th>
                            <th class="no-sort">Final Completed Rate</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
      MakeReadOnlyIfNotLatestDSR("frmRateAnalysis");
        LoadGridData();
        $("#txtContractorsProfitPer").change(function () {
            if ($(this).val().trim() != '') {
                CalculateContractorsProfitPer();
                CalculateTotal();
            } else {
                $("#txtDeductForContractorsProfit").val('');
                $("#txtTotal").val('');
            }
        });
        $("#txtAddForTribalAreaPer").change(function () {
            if ($(this).val().trim() != '') {
                CalculateAddForTribalAreaPer();
                CalculateFinalCompletedRate();
            } else {
                $("#txtAddForTribalArea").val('');
                $("#txtFinalCompletedRate").val('');
            }
        });

        $("#txtConsumption").change(function () {
            if ($(this).val().trim() != '' && $("#txtBasicLead").val().trim() != '' ) {
                $("#txtLeadCharge").val(parseFloat(parseFloat($("#txtBasicLead").val()) * parseFloat($("#txtConsumption").val())).toFixed(2));
                $("#txtTotalLeadCharges").val(parseFloat($("#txtLeadCharge").val()).toFixed(2));
            } else {
                $("#txtLeadCharge").val('');
                $("#txtTotalLeadCharges").val('');
            }
        });

        $("#txtMaterial").on("keyup", function (e) {
            if ($(this).val().trim() == '') {
                $("#txtBasicLead").val('');
                $("#DSRDetailsId").val('0');
            }
        })
        

        $("#txtItemDescription").on("keyup", function (e) {
            if ($(this).val().trim() == '') {
                $("#Quantity").val('');
                $("#Quantity").removeAttr("readonly");
                $("#DSRDetailsId").val('0');
            }
        })


        $('#txtItemDescription').autoComplete({
            minChars: 3,
            delay: 5,
            cache: true,
            source: function (term, suggest) {

                term = term.toLowerCase();
                if (term.trim().length > 0) {

                    //var choices = [['Australia', 'au'], ['Austria', 'at'], ['Brasil', 'br'], ['Bulgaria', 'bg'], ['Canada', 'ca'], ['China', 'cn'], ['Czech Republic', 'cz'], ['Denmark', 'dk'], ['Finland', 'fi'], ['France', 'fr'], ['Germany', 'de'], ['Hungary', 'hu'], ['India', 'in'], ['Italy', 'it'], ['Japan', 'ja'], ['Netherlands', 'nl'], ['Norway', 'no'], ['Portugal', 'pt'], ['Romania', 'ro'], ['Russia', 'ru'], ['Spain', 'es'], ['Swiss', 'ch'], ['Turkey', 'tr'], ['USA', 'us']];
                    //var suggestions = [];
                    //for (i = 0; i < choices.length; i++)
                    //    if (~(choices[i][0] + ' ' + choices[i][1]).toLowerCase().indexOf(term)) suggestions.push(choices[i]);
                    //    suggest(suggestions);


                    var choices = [];
                    // var MLData = CallMLPredictSenseOnSearchModel(groupName);

                    $.ajax({
                        url: '@Url.Action("GetItemOfWorkList", "RateAnalysis")',
                        type: 'POST',
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify({ request: term }),
                        async: true,
                        dataType: 'json',
                        success: function (data) {
                            $.each(data.ItemOfWorkList, function (i, type) {
                                var theResults = [type.DescriptionOfTheItem, type.id, type.SSRItemNo, type.Unit, type.CompletedRateExcludingGSTInRs]; // THIS ARRAY NEEDS TO BE CLEARED OF PREVIOUS VALUES EACH ITERATION SO THAT IT CAN BE PROPERLEY USED BELOW

                                choices.push(theResults);
                            });
                            var suggestions = [];
                            for (i = 0; i < choices.length; i++) {
                                if (~(choices[i][0] + ' ' + choices[i][1]).toLowerCase().indexOf(term)) {
                                    suggestions.push(choices[i]);
                                }
                            }
                            suggest(suggestions);

                        },
                        error: function () {

                            // toastr.error("Something went wrong while processing your request.");
                            console.log("GetSearchModalData");
                        }
                    });

                }
            },
            renderItem: function (item, search) {

                search = search.replace(/[-\/\\^$*+?.()|[\]{}]/g, '\\$&');
                var re = new RegExp("(" + search.split(' ').join('|') + ")", "gi");
                $('[data-toggle="tooltip"]').tooltip();
                return '<div data-SSRItemNo="' + item[0] + '" class="autocomplete-suggestion" title="' + item[0] + '"   data-ItemOfWorkDesc="' + item[0] + '" data-ItemOfWorkId="' + item[1] + '" data-SSRItemNo1="' + item[2] + '" data-Unit="' + item[3] + '" data-CompletedRateExcludingGSTInRs="' + item[4] + '" data-val="' + search + '">' + item[0].replace(re, "<b>$1</b>") + '</div>';
            },
            onSelect: function (e, term, item) {
                $("#txtItemDescription").val(item.data('itemofworkdesc'));
                debugger;
                $("#DSRDetailsId").val(item.data('itemofworkid'));

                $("#txtUnit").val(item.data('unit'));
                $("#txtSSRItemNo").val(item.data('ssritemno1'));
                $("#txtCompletedRateForSSR").val(item.data('completedrateexcludinggstinrs'));

                calculateAll();
                //if (MeasurementSheetItems) {
                //    var arr = jQuery.grep(MeasurementSheetItems, function (n, i) {
                //        return (n.ItemId == $("#DSRDetailId").val());
                //    });
                //    if (arr.length > 0) {
                //        $("#Quantity").attr("readonly", "readonly");
                //        $("#Quantity").val(arr[0].TotalQty);
                //    } else {
                //        $("#Quantity").removeAttr("readonly");
                //        $("#Quantity").val('');
                //    }
                //}
                return false;
                //alert('Item "'+item.data('langname')+' ('+item.data('lang')+')" selected by '+(e.type == 'keydown' ? 'pressing enter' : 'mouse click')+'.');
            }
        });

        $('#txtMaterial').autoComplete({
            minChars: 3,
            delay: 5,
            cache: true,
            source: function (term, suggest) {

                term = term.toLowerCase();
                if (term.trim().length > 0) {

                    //var choices = [['Australia', 'au'], ['Austria', 'at'], ['Brasil', 'br'], ['Bulgaria', 'bg'], ['Canada', 'ca'], ['China', 'cn'], ['Czech Republic', 'cz'], ['Denmark', 'dk'], ['Finland', 'fi'], ['France', 'fr'], ['Germany', 'de'], ['Hungary', 'hu'], ['India', 'in'], ['Italy', 'it'], ['Japan', 'ja'], ['Netherlands', 'nl'], ['Norway', 'no'], ['Portugal', 'pt'], ['Romania', 'ro'], ['Russia', 'ru'], ['Spain', 'es'], ['Swiss', 'ch'], ['Turkey', 'tr'], ['USA', 'us']];
                    //var suggestions = [];
                    //for (i = 0; i < choices.length; i++)
                    //    if (~(choices[i][0] + ' ' + choices[i][1]).toLowerCase().indexOf(term)) suggestions.push(choices[i]);
                    //    suggest(suggestions);


                    var choices = [];
                    // var MLData = CallMLPredictSenseOnSearchModel(groupName);

                    $.ajax({
                        url: '@Url.Action("GetItemOfLeadCharges", "RateAnalysis")',
                        type: 'POST',
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify({ request: term }),
                        async: true,
                        dataType: 'json',
                        success: function (data) {
                            $.each(data.ItemOfWorkList, function (i, type) {
                                var theResults = [type.DescriptionOfTheItem, type.DSRDetailsId, type.NetLeadChargesForCompletedCol]; // THIS ARRAY NEEDS TO BE CLEARED OF PREVIOUS VALUES EACH ITERATION SO THAT IT CAN BE PROPERLEY USED BELOW

                                choices.push(theResults);
                            });
                            var suggestions = [];
                            for (i = 0; i < choices.length; i++) {
                                if (~(choices[i][0] + ' ' + choices[i][1]).toLowerCase().indexOf(term)) {
                                    suggestions.push(choices[i]);
                                }
                            }
                            suggest(suggestions);

                        },
                        error: function () {

                            // toastr.error("Something went wrong while processing your request.");
                            console.log("GetSearchModalData");
                        }
                    });

                }
            },
            renderItem: function (item, search) {

                search = search.replace(/[-\/\\^$*+?.()|[\]{}]/g, '\\$&');
                var re = new RegExp("(" + search.split(' ').join('|') + ")", "gi");
                $('[data-toggle="tooltip"]').tooltip();
                return '<div class="autocomplete-suggestion" title="' + item[0] + '"   data-ItemOfWorkDesc="' + item[0] + '" data-ItemOfWorkId="' + item[1] + '" data-NetLeadChargesForCompletedCol="' + item[2] + '"  data-val="' + search + '">' + item[0].replace(re, "<b>$1</b>") + '</div>';
            },
            onSelect: function (e, term, item) {
                
                $("#txtMaterial").val(item.data('itemofworkdesc'));
               // $("#DSRDetailsId").val(item.data('itemofworkid'));

                $("#txtBasicLead").val(item.data('netleadchargesforcompletedcol'));
             

             
                //if (MeasurementSheetItems) {
                //    var arr = jQuery.grep(MeasurementSheetItems, function (n, i) {
                //        return (n.ItemId == $("#DSRDetailId").val());
                //    });
                //    if (arr.length > 0) {
                //        $("#Quantity").attr("readonly", "readonly");
                //        $("#Quantity").val(arr[0].TotalQty);
                //    } else {
                //        $("#Quantity").removeAttr("readonly");
                //        $("#Quantity").val('');
                //    }
                //}
                return false;
                //alert('Item "'+item.data('langname')+' ('+item.data('lang')+')" selected by '+(e.type == 'keydown' ? 'pressing enter' : 'mouse click')+'.');
            }
        });
    });

    function calculateAll() {
        $("#txtContractorsProfitPer").trigger("change");
        CalculateLeadCharge(); 
        $("#txtAddForTribalAreaPer").trigger("change");
    }

    function CalculateAddForTribalAreaPer() {
        if ($("#txtTotal").val().trim() != '' && $("#txtAddForTribalAreaPer").val().trim() != '') {
            var AddForTribalAreaPer = ((parseFloat($("#txtTotal").val()) * parseFloat($("#txtAddForTribalAreaPer").val())) / 100);
            $("#txtAddForTribalArea").val(AddForTribalAreaPer);
            CalculateTotal();
        }
    }

    function CalculateContractorsProfitPer() {
        if ($("#txtCompletedRateForSSR").val().trim() != '' && $("#txtContractorsProfitPer").val().trim() != '') {
            var DeductForContractorsProfit = ((parseFloat($("#txtCompletedRateForSSR").val()) * parseFloat($("#txtContractorsProfitPer").val())) / 100);
            $("#txtDeductForContractorsProfit").val(DeductForContractorsProfit);
        }
    }
    

    function CalculateLeadCharge() {
        if ($("#txtBasicLead").val().trim() != '' && $("#txtConsumption").val().trim() != '') {
            $("#txtLeadCharge").val(parseFloat(parseFloat($("#txtBasicLead").val()) * parseFloat($("#txtConsumption").val())).toFixed(3));
        }
    }
    function CalculateTotal() {
        if ($("#txtCompletedRateForSSR").val().trim() != '' && $("#txtDeductForContractorsProfit").val().trim() != '') {
            //var DeductForContractorsProfit = ((parseFloat($("#txtCompletedRateForSSR").val()) * 20) / 100);
            //$("#txtDeductForContractorsProfit").val(DeductForContractorsProfit);
            var total = parseFloat($("#txtCompletedRateForSSR").val()) - parseFloat($("#txtDeductForContractorsProfit").val());
            $("#txtTotal").val(parseFloat(total).toFixed(3));
        }
    }

    function CalculateFinalCompletedRate() {
        if ($("#txtCompletedRateForSSR").val().trim() != '' && $("#txtAddForTribalArea").val().trim() != '') {
            var FinalCompletedRate = parseFloat($("#txtCompletedRateForSSR").val()) + parseFloat($("#txtTotalLeadCharges").val() != "" ? $("#txtTotalLeadCharges").val() : 0) + parseFloat($("#txtAddForTribalArea").val());
            $("#txtFinalCompletedRate").val(parseFloat(FinalCompletedRate).toFixed(3));
        }
    }
    function ClearForm() {
        $("#txtContractorsProfitPer").val('');
        $("#txtAddForTribalAreaPer").val('');

        $("#txtItemDescription").val('');
        $("#txtSSRItemNo").val('');
        $("#txtUnit").val('');
        $("#txtCompletedRateForSSR").val('');
        $("#txtDeductForContractorsProfit").val('');
        $("#txtTotal").val('');
        $("#txtMaterial").val('');
        $("#txtBasicLead").val('');
        $("#txtConsumption").val('');
        $("#txtLeadCharge").val('');
        $("#txtTotalLeadCharges").val('');
        $("#txtAddForTribalArea").val('');
        $("#txtFinalCompletedRate").val('');
        $("#id").val(0);
        $("#DSRDetailsId").val(0);
    }

    function ClearAll() {
        $("#txtUnit").val();
        $("#txtCompletedRateForSSR").val(0);
        $("#txtDeductForContractorsProfit").val();
        $("#txtTotal").val(0);
        $("#txtMaterial").val();
        $("#txtBasicLead").val(0);
        $("#txtConsumption").val(0);
        $("#txtLeadCharge").val(0);
        $("#txtTotalLeadCharges").val(0);
        $("#txtAddForTribalArea").val();
        $("#txtFinalCompletedRate").val(0);
        $("#id").val(0);
        $("#DSRDetailsId").val(0);
    }

    function LoadGridData() {
        var indexurl = $('#tblRateAnalysis').data("request-url");
        //indexurl = indexurl + "?FromDate=" + $('#min-date').val() + "&&ToDate=" + $('#max-date').val();
        var whInTable = $('#tblRateAnalysis').dataTable({
            "paging": false,
           // "select": true,
            "language": {
                "sLengthMenu": "Records Per Page _MENU_",
                "search": '',//'<i class="fa fa-search"></i>',
                "searchPlaceholder": "Search",
                "oPaginate": {
                    "sNext": '<i class="fa fa-angle-right"></i>',
                    "sPrevious": '<i class="fa fa-angle-left"></i>',
                }
            },
            // dom: '<"floatRight"B><"clear">frtip',

            //dom: "lfBtrR",
            dom: "lftrR",
            //buttons: [
            //    {
            //        extend: 'excel',
            //        title: 'WIP Report ' + 'From Date: ' + $('#min-date').val() + ' To Date: ' + $('#max-date').val(),
            //        filename: 'WIP Report: ' + 'From Date: ' + $('#min-date').val() + ' To Date: ' + $('#max-date').val(),
            //        messageTop: 'The information in this table is copyright to Sirius Cybernetics Corp.'
            //    },

            //    {
            //        extend: 'pdfHtml5',
            //        title: 'WIP Report: ' + 'From Date: ' + $('#min-date').val() + ' To Date: ' + $('#max-date').val(),
            //        customize: function (doc) {
            //            doc.content.splice(0, 0, {
            //                text: ""
            //            });

            //        }
            //    },
            //    'print'
            //    //'excelHtml5',
            //    //'csvHtml5',
            //    //'pdfHtml5'
            //],
            'fnDrawCallback': function (oSettings) {
                $('.dataTables_filter').each(function () {
                    //if ($("#min-date").length == 0) {
                    //    $(this).append('<span style="padding-left:10px">From Date: </span><input type="text" id="min-date" name="min-date" class="form-control date-range-filter" data-date-format="yyyy-mm-dd" placeholder="From:"/><span style="padding-left:10px">To Date: </span><input type="text" id="max-date" name="max-date" class="form-control date-range-filter" data-date-format="yyyy-mm-dd" placeholder="To:">');

                    //}
                    // var table = $('#example').DataTable();

                });
            },
            "autoWidth": false,
            "bServerSide": false,
            "bSortable": true,
            "bSearchable": true,
            "bRetrieve": false,
            "bDestroy": true,
            "bFilter": true,
            "searching": true,
            "bProcessing": false,
            "sAjaxSource": indexurl,
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "more_data", }); //"value": searchForm
            },
            "aaSorting": [],
            "columnDefs": [{
                "targets": 'no-sort',
                "orderable": false,
            }],
            "aoColumns": [
                {
                    "title": "Action", "width": "500px", "orderable": false, "className": "no-sort text-right batch-no",
                    "render": function (data, type, row, meta) {
                        editaction = '<a href="#" title="Edit" class="links data-edit-btn" onclick="return AddEditRateAnalysis(' +
                            row.id +
                            ')">' +
                                "<img src='" + '@Url.Content("~/Content/Images/Edit.svg")' + "'></img>" +
                                "</a> ";



                        deleteaction = '<a href="#" title="Delete" class="links data-edit-btn" onclick="return DeleteRateAnalysis(' +
                            row.id +
                            ')">' +
                            "<img src='" + '@Url.Content("~/Content/Images/delete.svg")' + "'></img>";
                        return editaction + deleteaction;
                    },
                },
                {
                    "title": "Sr No", "autoWidth": true, "orderable": false, "className": "no-sort text-right batch-no",
                    "render": function (data, type, row, meta) {
                        a = meta.row + 1
                        return a;
                    },
                },
                { "title": "Item Description", "autoWidth": true, "orderable": false, "className": "no-sort text-left", "data": "ItemDescription" },
                { "title": "SSR Item No", "autoWidth": true, "orderable": false, "className": "no-sort text-left", "data": "SSRItemNo" },
                { "title": "Unit", "autoWidth": true, "orderable": false, "className": "no-sort text-left", "data": "Unit" },
                { "title": "Completed Rate For SSR", "autoWidth": true, "orderable": false, "className": "no-sort text-left", "data": "CompletedRateForSSR" },
                { "title": "Deduct For Contractors Profit", "autoWidth": true, "orderable": false, "className": "no-sort text-left", "data": "DeductForContractorsProfit" },
                { "title": "Total", "autoWidth": true, "orderable": false, "className": "no-sort text-left", "data": "Total" },

                { "title": "Material", "autoWidth": true, "orderable": false, "className": "no-sort text-left", "data": "Material" },
                { "title": "Basic Lead", "autoWidth": true, "orderable": false, "className": "no-sort text-left", "data": "BasicLead" },
                { "title": "Consumption", "autoWidth": true, "orderable": false, "className": "no-sort text-left", "data": "Consumption" },
                { "title": "Lead Charge", "autoWidth": true, "orderable": false, "className": "no-sort text-left", "data": "LeadCharge" },
                { "title": "Total Lead Charges", "autoWidth": true, "orderable": false, "className": "no-sort text-left", "data": "TotalLeadCharges" },
                { "title": "Add For Tribal Area", "autoWidth": true, "orderable": false, "className": "no-sort text-left", "data": "AddForTribalArea" },
                { "title": "Final Completed Rate", "autoWidth": true, "orderable": false, "className": "no-sort text-left", "data": "FinalCompletedRate" }
            ]
        });
        

        whInTable.fnDraw();


    }

    function ValidateFields() {

        if ($("#txtItemDescription").val() == "" || $("#txtSSRItemNo").val() == "" || $("#txtUnit").val() == "" || $("#txtCompletedRateForSSR").val() == "") {
            toastr.error("Please enter mandatory fields(*).");
            return false;
        }
        return true;
    }

    function AddEditRateAnalysis(id) {

        $.ajax({
                type: 'GET',
            url: '@Url.Action("CreateEdit", "RateAnalysis")',
            data: { id: id },
            success: function (response) {
                debugger;
                $("#txtContractorsProfitPer").val(response.ContractorsProfitPer);

                $("#txtItemDescription").val(response.ItemDescription);
                $("#txtSSRItemNo").val(response.SSRItemNo);
                $("#txtUnit").val(response.Unit);
                $("#txtCompletedRateForSSR").val(response.CompletedRateForSSR);
                $("#txtDeductForContractorsProfit").val(response.DeductForContractorsProfit);
                $("#txtTotal").val(response.Total);
                $("#txtMaterial").val(response.Material);
                $("#txtBasicLead").val(response.BasicLead);
                $("#txtConsumption").val(response.Consumption);
                $("#txtLeadCharge").val(response.LeadCharge);
                $("#txtTotalLeadCharges").val(response.TotalLeadCharges);
                $("#txtAddForTribalAreaPer").val(response.AddForTribalAreaPer);
                $("#txtAddForTribalArea").val(response.AddForTribalArea);
                $("#txtFinalCompletedRate").val(response.FinalCompletedRate);
                $("#id").val(response.id);
                $("#DSRDetailsId").val(response.DSRDetailsId);
                    },
                error: function (result) {
                    toastr.error("Something went wrong. Please contact administrator.");
                }
            });

    }
    function DeleteRateAnalysis(id) {
        bootbox.confirm({
                message: "Are you sure?",
                buttons: {
                    confirm: {
                        label: "Yes",
                        className: 'btn-success'
                    },
                    cancel: {
                        label: "No",
                        className: 'btn-danger'
                    }
                }, callback: function (result) {
                    
                    if (!result)
                        return;
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("DeleteRateAnalysis", "RateAnalysis")',
                        data: { id: id },
                        success: function (response) {
                            
                            if (response == "success") {
                                toastr.success("Deleted Rate Analysis Successfully.");
                                LoadGridData();
                              }
                            else {
                                toastr.error("Something went wrong. Please contact administrator.")
                                return;
                            }


                        },
                        error: function (result) {
                            toastr.error("Something went wrong. Please contact administrator.");
                        }
                    });
                }

            });
    }

   

</script>

